:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.images-grid > img {
  border-radius: 8px;
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 10px #8d8a8a;
}
.images-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 32px;
}
.galleryContainer {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
